img {
    width: 300px;
    height: auto;
}

h1 {
    background-color: lightgreen;
    text-align: center;
    font-size: 50px;
}

h2 {
    background-color: blanchedalmond;
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 20px;
}

ul, ol {
    text-align: center;
    font-size: 20px;
}